<h1>Speechly Transcription Evaluator</h1>
<strong>Requirements - A 1-channel 16bit 16kHz .wav audio file link with some speech.</strong>
<br></br>
<strong>Example link - http://www.fit.vutbr.cz/~motlicek/sympatex/f2bjrop1.0.wav</strong>
<br></br>
<strong>Paste this link in the input box below. Submit to see transcription results</strong>
<br></br>
<br></br>
<br></br>
<br></br>
<form method="POST" style="margin: auto; width: 800px;">
    <input name="text" size="60" style="font-size:16pt;" placeholder="Enter audio url here ex. Twilio etc or use the one given above as example link.">
    <input type="submit">
</form>